{% extends '_layouts/detail.njk' %}

{% block story %}
  <h2>It was a crisp and windy night.</h2>
  <h5>Captain's log, Oct. 20, 2019</h5>
  <p>Dance the hempen jig bilge log galleon pirate yard list Barbary Coast Corsair run a rig.Interloper crimp spanker Barbary Coast splice the main brace bilged on her anchor black spot chandler trysail salmagundi. Brigantine fire ship scallywag log squiffy bowsprit lateen sail American Main cog smartly. Dance the hempen jig bilge log galleon pirate yard list Barbary Coast Corsair run a rig.Interloper crimp spanker Barbary Coast splice the main brace bilged on her anchor black spot chandler trysail salmagundi. Brigantine fire ship scallywag log squiffy bowsprit lateen sail American Main cog smartly. Dance the hempen jig bilge log galleon pirate yard list Barbary Coast Corsair run a rig.</p>
{% endblock %}